################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/SimpleAutoassembler/FileContentIndex
/.vs/SimpleAutoassembler/v17
/.vs
